<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a bird</title>
  </head>
  <body>
    <h1>Edit <%= birds.name %></h1>
    <form action="/birds/<%=birds._id%>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= birds.name %>" />

      <label for="description">Description:</label>
      <input type="text" description="description" id="description" />

      <button type="submit">Update Bird</button>
    </form>
    <a href="/birds/">Back to Birds</a>
  </body>
</html>
