<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a bird</title>
  </head>
  <body>
    <h1>Add a new bird!</h1>
    <a href="/birds/">Back to Birds</a>
    <form action="/birds" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      <label for="description">Description:</label>
      <input type="text" description="description" id="description" />
      <button type="submit">Add Bird</button>
    </form>
  </body>
</html>
