<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birds App</title>
  </head>
  <body>
    <h1>Welcome to the Birds app!</h1>
    <a href="/birds">Browse Birds</a>

    <p>An app for avid birders or those ready to join the world of birds.</p>
  </body>
</html>
